####################
# PyCharm Settings #
####################
\.idea

#########################
# Python-specific files #
#########################
*.pyc

########################
# Development database #
########################
*.sqlite3
